@import "../../../styles.scss";

/* Container to hold the two cards side by side */
.container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 80px;
    padding: 40px;

    // background-color: #f9f9f9;
}
  
/* Card styling */
.card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    padding-top: 100px;
    text-align: center;
    height: 400px;
    width: 500px; /* Adjust width as necessary */
}
  
h1{
    font-size: 35px;
}

/* Highlight text styling */
.highlight {
    color: $color4; /* Adjust color to your theme */
}
  
  /* Login button styling */
.signin-button {
    width: 100%;
    max-width: 400px;
    padding: 10px 0;
    margin: 60px 0px;
    border: none;
    border-radius: 4px;
    background-color: $color4;
    color: white;
    font-size: 23px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover{
        background-color: $color2;
    }
    &:active{
        background-color: $color5;
    }
}