<div class="container">

  <div class="left-section">
    <div class="university-item">
      <img src="assets/du.jpeg" alt="Profile Picture" class="university-profile-pic">
      <div class="university-details">
        <h4 class="university-name">University of Dhaka</h4>
        <button class="unfollow-button">Unfollow</button>
      </div>
    </div>

    <div class="university-item">
      <img src="assets/buet.png" alt="Profile Picture" class="university-profile-pic">
      <div class="university-details">
        <h4 class="university-name">BUET</h4>
        <button class="unfollow-button">Unfollow</button>
      </div>
    </div>

    <div class="university-item">
      <img src="assets/daffodil.png" alt="Profile Picture" class="university-profile-pic">
      <div class="university-details">
        <h4 class="university-name">Daffodil International University</h4>
        <button class="unfollow-button">Unfollow</button>
      </div>
    </div>
  </div>

  <!-- ---------------------------------------------------------------------- -->
  <div class="middle-section">

    <div class="post-container">
      <div class="post-header">
        <div class="profile-info">
          <img src="assets/du.jpeg" alt="Profile Picture" class="profile-picture">
          <div class="university-info">
            <h3 class="university-name">University of Dhaka</h3>
            <p class="post-details">August 29, 2024 | Computer Science</p>
          </div>
        </div>
        <button class="follow-button">Follow</button>
      </div>
    
      <div class="post-content">
        <!-- <p *ngIf="postText">{{ postText }}</p>
        <img *ngIf="postImage" [src]="postImage" alt="Post Image" class="post-image"> -->
        <p>Great news for data Science students. you can get scholarship at DU.</p>
        <img src="assets/post_template.jpg" alt="Post Image" class="post-image">
      </div>
    
      <div class="apply-button-container">
        <button class="apply-button">Apply Now</button>
      </div>
    </div>

    <div class="post-container">
      <div class="post-header">
        <div class="profile-info">
          <img src="assets/buet.png" alt="Profile Picture" class="profile-picture">
          <div class="university-info">
            <h3 class="university-name">BUET</h3>
            <p class="post-details">August 29, 2024 | Information Technology</p>
          </div>
        </div>
        <button class="follow-button">Follow</button>
      </div>
    
      <div class="post-content">
        <!-- <p *ngIf="postText">{{ postText }}</p>
        <img *ngIf="postImage" [src]="postImage" alt="Post Image" class="post-image"> -->
        <p>Great news for data Science students. you can get scholarship at BUET.</p>
      </div>
    
      <div class="apply-button-container">
        <button class="apply-button">Apply Now</button>
      </div>
    </div>

    <div class="post-container">
      <div class="post-header">
        <div class="profile-info">
          <img src="assets/daffodil.png" alt="Profile Picture" class="profile-picture">
          <div class="university-info">
            <h3 class="university-name">Daffodil International University</h3>
            <p class="post-details">August 29, 2024 | EEE</p>
          </div>
        </div>
        <button class="follow-button">Follow</button>
      </div>
    
      <div class="post-content">
        <!-- <p *ngIf="postText">{{ postText }}</p>
        <img *ngIf="postImage" [src]="postImage" alt="Post Image" class="post-image"> -->
        <p>Great news for EEE students. you can get scholarship at DIU.</p>
        <img src="assets/post_template.jpg" alt="Post Image" class="post-image">
      </div>
    
      <div class="apply-button-container">
        <button class="apply-button">Apply Now</button>
      </div>
    </div>
    
  </div>
  
  <!-- --------------------------------------------------------------------- -->
  <div class="right-section">
    <div class="university-item">
      <img src="assets/du.jpeg" alt="Profile Picture" class="university-profile-pic">
      <div class="university-details">
        <h4 class="university-name">University of Dhaka</h4>
      </div>
    </div>

    <div class="university-item">
      <img src="assets/buet.png" alt="Profile Picture" class="university-profile-pic">
      <div class="university-details">
        <h4 class="university-name">BUET</h4>
      </div>
    </div>

    <div class="university-item">
      <img src="assets/daffodil.png" alt="Profile Picture" class="university-profile-pic">
      <div class="university-details">
        <h4 class="university-name">Daffodil International University</h4>
      </div>
    </div>
  </div>
</div>