@import "../../../styles.scss";
  
.signup-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .signup-container {
    max-width: 600px;
    width: 100%;
    padding: 2rem;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    overflow-y: auto;
    max-height: 90vh;
  
    h2 {
      text-align: center;
        margin:15px;
      color: #4CAF50;
    }
  
    .form-group {
      margin-bottom: 1.2rem;
  
      label {
        display: block;
        margin-bottom: 0.5rem;
        font-weight: bold;
        color: #333;
      }
  
      .form-control {
        width: 100%;
        padding: 0.8rem;
        border: 1px solid #ddd;
        border-radius: 4px;
        font-size: 1rem;
      }
  
      input[type="file"] {
        padding: 0.4rem;
      }
  
      select.form-control {
        width: 100%;
        padding: 0.8rem;
        border: 1px solid #ddd;
        border-radius: 4px;
        font-size: 1rem;
      }
    }
  
    .btn-submit {
      width: 100%;
      padding: 0.8rem;
      background-color: #4CAF50;
      color: white;
      border: none;
      border-radius: 4px;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: #45a049;
      }
    }
}
  
.error{
  color: red;
}