/* You can add global styles to this file, and also import other style files */
// Variables for colors and fonts
$primary-color: #609966;
$secondary-color: #333;
$font-stack: 'Helvetica', sans-serif;
$tertiary-color: #2196F3;

$color1:#D6EFD8;
$color2:#9DC08B;
$color3:#80AF81;
$color4: #508D4E;
$color5:#1A5319;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    max-width: 100%; // can not scrool left right
    scroll-behavior: smooth;
    height: 100%;
    font-family: $font-stack;
}

body{
    max-width: 100%; // can not scrool left right
    overflow-x: hidden; // there will no gap spaces in the x axixs, can not scrool left right
    height: 100%;
    font-family: $font-stack;
}

a{
    text-decoration: none;
}

.shadow {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
